<div class="chicason-wrapper">
  <h1>
    Team {{title}} !
  </h1>
  <applause-button style="width: 38px; height: 38px; margin: 25px auto" multiclap="true"></applause-button>


<mat-form-field>
  <mat-select placeholder="Select a Breed" [(value)]="selectedBreedId" (selectionChange)="fetchAnimalBreedImage()">
    <mat-option *ngFor="let breed of breeds" [value]="breed.id" class="breed-select-text">
      {{breed.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-card class="breed-card" *ngIf="selectedBreed">
  <mat-card-header>
    <mat-card-title>{{selectedBreed.name}}</mat-card-title>
    <mat-card-subtitle>Life-span: {{selectedBreed.life_span}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]='breedImgURL' alt="Photo of a {{selectedBreed.name}}">
  <mat-card-content>
    <p>
      Temperament: {{selectedBreed.temperament}}
    </p>
  </mat-card-content>

  <mat-card-actions>

    <!--<button mat-button>SHARE</button>-->
  </mat-card-actions>

</mat-card>
</div>








