html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  flex: 2;
  margin: 0 auto;
  text-align: center;
}

/*
side nav
*/
.side-nav {
  min-width: 200px;
}
