/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #3d3d3f;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
